@import "_styles/_variables";

$jobbar-width: 5px;

.entry {
  display: flex;
  position: relative;
  padding: 3px 10px;
  overflow: hidden;
  color: $primary;

  .gauge, .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .gauge {
    left: $jobbar-width;
    opacity: 0.8;
  }

  @each $role, $role-color in $role-colors {
    .gauge.role-#{$role} {
      background-color: $role-color;
    }
  }

  .bar {
    width: $jobbar-width;
    z-index: 1;
  }

  @each $job, $job-color in $job-colors {
    .bar.job-#{$job} {
      background-color: $job-color;
    }
  }

  .name, .enmity-value {
    position: relative;
    flex: 1 1 auto;
    opacity: 1;
  }

  .enmity-value {
    flex-grow: 0;
  }
}
