/* Colors */
/* Shadows */
.navHeader {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 4px 10px;
  background: rgba(31, 31, 31, 0.9); }
  .navHeader .name {
    font-size: 14px;
    color: #ddd; }
    .navHeader .name .icon {
      margin-right: 3px;
      vertical-align: text-bottom;
      font-size: 16px;
      color: #26c6da; }
  .navHeader .hp, .navHeader .distance {
    font-size: 11px;
    opacity: 0.5;
    color: #ddd;
    flex-basis: auto; }
  .navHeader .distance {
    text-align: right; }
