@import "_styles/_mixins.scss";
@import "_styles/_variables.scss";

.navHeader {
  @include shadow-2dp();

  padding: 4px 10px;
  background: $background-dark;

  .name {
    font-size: 14px;
    color: $primary;

    .icon {
      margin-right: 3px;
      vertical-align: text-bottom;
      font-size: 16px;
      color: $highlight
    }
  }

  .hp, .distance {
    font-size: 11px;
    opacity: 0.5;
    color: $primary;
    flex-basis: auto;
  }

  .distance {
    text-align: right;
  }
}